<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akmz.springBase.base.mapper.AuthTokenMapper">

    <insert id="insertAuthToken" parameterType="com.akmz.springBase.base.model.entity.AuthToken">
        INSERT INTO auth_tokens (TOKEN, USER_NAME, TOKEN_TYPE, EXPIRY_DATE, CREATED_DATE, USED)
        VALUES (#{token}, #{userName}, #{tokenType}, #{expiryDate}, #{createdDate}, #{used})
    </insert>

    <select id="findByToken" parameterType="string" resultType="com.akmz.springBase.base.model.entity.AuthToken">
        SELECT
            ID, TOKEN, USER_NAME, TOKEN_TYPE, EXPIRY_DATE, CREATED_DATE, USED
        FROM
            auth_tokens
        WHERE
            TOKEN = #{token}
    </select>

    <update id="updateAuthTokenUsed" parameterType="string">
        UPDATE
            auth_tokens
        SET
            USED = TRUE
        WHERE
            TOKEN = #{token}
    </update>

    <update id="invalidateOldTokens">
        UPDATE
            auth_tokens
        SET
            USED = TRUE
        WHERE
            USER_NAME = #{userName}
            AND TOKEN_TYPE = #{tokenType}
            AND USED = FALSE
            AND EXPIRY_DATE > NOW() -- 만료되지 않은 토큰만 무효화
    </update>

    <select id="findLatestTokenByUserNameAndType" resultType="com.akmz.springBase.base.model.entity.AuthToken">
        SELECT
            ID, TOKEN, USER_NAME, TOKEN_TYPE, EXPIRY_DATE, CREATED_DATE, USED
        FROM
            auth_tokens
        WHERE
            USER_NAME = #{userName}
            AND TOKEN_TYPE = #{tokenType}
        ORDER BY
            CREATED_DATE DESC
        LIMIT 1
    </select>

</mapper>
