<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akmz.springBase.base.mapper.AuthMapper">
    <select id="findByUsername" resultType="com.akmz.springBase.base.model.entity.AuthUser">
            SELECT USER_NAME, PASSWORD, REFRESH_TOKEN, USE_YN
            FROM users
            <include refid="whereCondition" />
    </select>

    <select id="getAuthoritiesByUsername" resultType="String">
            SELECT AUTHORITY
            FROM authorities
            <include refid="whereCondition" />
    </select>

    <update id="updateRefreshToken" parameterType="com.akmz.springBase.base.model.entity.AuthUser">
        UPDATE users SET REFRESH_TOKEN = #{refreshToken}
        <include refid="whereCondition" />
    </update>

    <sql id="whereCondition">
        <where>
            AND USER_NAME = #{userName}
        </where>
    </sql>
</mapper>
